extends layout

block content  

  main
    section.home-page
      div.container
        div.home-layout
          div.root#root
            div.intro-text.u-margin-top-large
              h1.intro-text__heading
                span.intro-text__heading__first-line Matthew 
                span.intro-text__heading__line makes 
                span.intro-text__heading__line web apps
              picture.intro-text__image
                source(srcset="images/profile_1_small-min.png" media='min-width:670px')
                img(src='images/profile_1-min.png' alt="Matthew Lewin's smiling face")
              
            div.flex-grid.u-margin-top-small.u-margin-bottom-small
              div.col-1-of-4.sm-1-of-2
                a.root__change(href="/projects") My Work
              div.col-1-of-4.sm-1-of-2
                a.root__change(href='/contact') Get in touch
            p.intro-text__about.u-margin-bottom-medium= aboutMeText
            

          div.home-layout__bottom
            nav.main-nav
              div.flex-grid
                div.col-2-of-4
                  h2.heading-primary= name
                  h3.heading-secondary= heroText
                div.col-1-of-4
                    each link in internalLinks
                      ul
                        li
                          a(href=link.url class=link.active ? "current-page nav-link" : 'nav-link')= link.name
                    else
                      p links are missing... 💀
                div.col-1-of-4
                  each link in externalLinks
                    ul
                      li
                        a(href=link.url class='nav-link' target='_blank') #{link.name}
                  else
                    p links are missing... 😘
            nav.sm-nav
              div.flex-grid
                div.sm-1-of-2
                  h2.heading-primary= name
                div.sm-1-of-2
                  button.sm-nav__button(aria-controls="sm-nav__list") Menu
                  ul#sm-nav__list.sm-nav__list
                    each link, index in internalLinks
                      li
                        a(href=link.url class="sm-nav__link" id=(index === 0 ? "first_link" : ""))= link.name
                    each link in externalLinks
                      li
                        a(href=link.url class="sm-nav__link")= link.name
          //- .root is the area where content will be hot swapped via JS
          
  

          //- TODO:Switch between 3 Areas:
          //-   About me
          //-   Contact form
          

              
          //- heroText, heroImageSrc, heroImageAlt, aboutMeText

          //- TODO: On mobile, all link columns disappear
          //-   Replace them with a menu button on the bottom of the screen that brings up links