extends layout

block content
    main
        div.container.u-margin-top-medium
            article.article
                div.flex-grid
                    div.col-1-of-4.margin-bottom-medium
                        h1.article__title=result.title
                        p.article__author By #{result.author}
                        time.article__date=result.time
                        if result.git_repo
                            a(href=result.git_repo) View the project on github
                        if result.url
                            a(href=result.url) View the finished product
                    div.col-3-of-4
                        div.article__content.u-margin-bottom-large !{result.content}
            div.home-layout__bottom.fixed
                nav.main-nav
                    div.flex-grid
                        div.col-2-of-4
                            h2.heading-primary Matthew Lewin
                            h3.heading-secondary Full Stack Developer
                        div.col-1-of-4
                            ul
                                li
                                    a(href='/' class='nav-link' id="first_link") Home
                                li
                                    a(href='/blog' class='nav-link') Writing
                                li
                                    a(href='/projects' class='nav-link') Projects
                        div.col-1-of-4
                            ul
                                li
                                    a(href='https://twitter.com/Matthew_M_Lewin' target="_blank" class='nav-link') Twitter
                                li
                                    a(href='https://www.linkedin.com/in/matthew-lewin/' target="_blank" class='nav-link') LinkedIn
                                li
                                    a(href='https://github.com/Matthew-Lewin' target="_blank" class='nav-link') Github
                nav.sm-nav.fixed 
                    div.flex-grid
                        div.sm-1-of-2
                            h2.heading-primary Matthew Lewin
                        div.sm-1-of-2
                            button.sm-nav__button(aria-controls="sm-nav__list") Menu
                ul#sm-nav__list.sm-nav__list
                    ul
                        li
                            a(href='/' class='nav-link') Home
                        li
                            a(href='/blog' class='nav-link') Writing
                        li
                            a(href='/projects' class='nav-link') Projects
                        li
                            a(href='https://twitter.com/Matthew_M_Lewin' target="_blank" class='nav-link') Twitter
                        li
                            a(href='https://www.linkedin.com/in/matthew-lewin/' target="_blank" class='nav-link') LinkedIn
                        li
                            a(href='https://github.com/Matthew-Lewin' target="_blank" class='nav-link') Github

    